# Disable directory browsing
Options -Indexes

<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On

    # Set base path (ubah kalau CI di subfolder)
    RewriteBase /UASSIM/public

    # Jangan rewrite file dan folder statis
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Hilangkan trailing slash
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Redirect www ke non-www (optional)
    RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
    RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]

    # Semua request lain ke CI4
    RewriteRule ^ index.php [L]
</IfModule>

# Disable server signature
ServerSignature Off
